
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
 b{
  font-size: large;
} 
 .custom-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: medium;
}

.left-text {
  font-weight: 400;
  text-align: left;
}

.right-text {
  font-weight: 400;
  text-align: right;
} 
h3{
  font-size: 18px;
color:rgb(43, 42, 42);
}
h2{
  color: black;
}

.filter{
  width: 10px;
  height: 10px;
}
.small-filter-input {
  font-size: 12px !important; /* Add !important to override other styles */
  width: 100px !important; /* Add !important to override other styles */
}
